table {
  width: 90%;
  padding-top: 10px;
  padding-left: 100px;
  padding-bottom: 20px;
}

td,
th {
  border: 1px solid grey;
  text-align: left;
}

thead {
  background: #ccdfe3;
}

tbody {
  background: #d8e1e3;
}
